<div ng-transclude ng-click="Open()"></div>
<link rel="stylesheet" href="/content/css/directives/modal.directive.css">
<div class="back-modal" ng-if="isshow">
    <div class="modal">
        <div class="modal-title">
            <i class="fas fa-plus"></i>
            Создать аккаунт
            <a class="modal-close" href="" ng-click="Open()" title="Закрыть"><i class="fas fa-times"></i></a>
        </div>
        <div class="modal-body">
            <span class="modal-hint">
                Внесите данные учетной записи стороннего сервиса (сайта)
            </span>
            <input type="text" placeholder="Имя сайта" ng-model="account.name">
            <input type="text" placeholder="Адрес" ng-model="account.url">
            <input type="text" placeholder="Логин" ng-model="account.login">
            <input type="password" placeholder="Пароль" ng-model="account.password">
            <div class="button-panel-right button-panel-bottom">
                <button type="submit" ng-click="Submit()"><i class="fas fa-check"></i>Создать</button>
            </div>
        </div>
    </div>
</div>