<div ng-transclude ng-click="Show()"></div>
<link rel="stylesheet" href="/content/css/directives/modal.directive.css">
<div class="back-modal" ng-if="isshow">
    <div class="modal">
        <div class="modal-title">
            <i class="fas fa-plus"></i>
            Создать хранилище
            <a class="modal-close" href="" ng-click="Show()" title="Закрыть"><i class="fas fa-times"></i></a>
        </div>
        <div class="modal-body">
            <span class="modal-hint">
                Введите имя хранилища и введите ключ.
                <p>Длина ключа (16, 24, 32) символа</p>
            </span>
            <input type="text" placeholder="Название хранилища" ng-model="storageModel.Storage.Name">
            <input type="password" placeholder="Ключ хранилища" ng-model="storageModel.Key">
            <div class="button-panel-right button-panel-bottom">
                <button type="submit" ng-click="Submit()"><i class="fas fa-check"></i>Создать</button>
            </div>
        </div>
    </div>
</div>