<link rel="stylesheet" href="/content/css/account.css">
<div class="block-title" ng-if="AUTH"><span><i class="fas fa-passport"></i> Профиль</span></div>
<div class="content" ng-if="AUTH">
    <div class="button-panel-top">
        <input type="text" placeholder="ID пользователя" value="Maxwell" disabled>
    </div>
    <div class="button-panel-top">
        <input type="text" placeholder="E-mail">
    </div>
    <a ng-click="createPassport()">Отправить подтверждение</a>
    <div class="button-panel-top">
        <!-- <button ng-click="changePassport()"><i class="far fa-edit"></i>Изменить</button> -->
        <button ng-click="createPassport()"><i class="far fa-save"></i>Сохранить</button>
    </div>
    <span class="title-panel">Изменить пароль</span>
    <div class="button-panel-top">
        <input type="password" placeholder="Старый пароль">
    </div>
    <div class="button-panel-top">
        <input type="password" placeholder="Новый пароль">
    </div>
    <div class="button-panel-top">
        <input type="password" placeholder="Подтвердить пароль">
    </div>
    <div class="button-panel-top">
        <button><i class="fas fa-pen"></i>Изменить</button>
    </div>
</div>
<!-- <modal-message title="Сообщение" message="Текст"></modal> -->
<div>
    <modal-change-passport title="Изменить пасспорт" message="Измените данные паспорта" passport="passportChange" isshow="isshowChange"></modal-change-account>
</div>
<div>
    <modal-create-passport title="Создать пасспорт" message="Внесите данные" passport="passportCreate" isshow="isshowCreate"></modal-create-account>
</div>